@import 'variables';
@import 'icons';
@import 'utilities';
@import 'typography';

.container{
  width: 100%;
}

.hero{
  background: url(../images/hero.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: $white;

  nav{
    .container{
      border-bottom: 1px solid $border-grey;
      display: table;
      padding: 10px;

      img, ul{
        display: table-cell;
        padding-top: 10px;
        vertical-align: top;
      }
      img{
        margin: 10px 20px 10px 0;
      }
    }
  }

  section{
    padding-bottom: 50px;

    h1{
      margin: 80px 0 80px 10px;
    }

    .point{
      display: inline-block;
      margin: 0 0 30px 10px;
      width: 45%;

      p{
        display: block;
      }
    }
  }
}

.intro{
  padding: 80px 0 50px;
  text-align: center;

  h2{
    margin: 40px 0 80px;
    text-transform: uppercase;
  }

  p{
    color: $grey-text;
    margin-left: 10px;
    text-align: left;
  }
}

.table{
  padding: 0 15px 50px 15px;

  .section-head{
    h3{
      margin-bottom: 15px;
      text-transform: uppercase;
    }

    .user-interaction{
      float: left;
      margin-bottom: 10px;
      width: 100%;

      .search{
        float: left;
        position: relative;
        width: 65%;

        input{
          display: block;
          width: 100%;
        }
      }
      .refresh{
        border-left: 1px solid $search-border;
        float: left;
        height: 34px;
        margin-left: 45px;
        position: relative;
        width: 30px;
      }
    }
  }

  table{
    margin-bottom: 20px;
    width: 100%;

    thead{
      background-color: $table-background;
      border-bottom: 1px solid $table-border;
      tr{
        th{
          color: $table-header-text;
          cursor: pointer;
          padding: 20px 0;
          text-align: left;
          text-transform: uppercase;
          }
        th.ascending, th.descending{
          color: $slate-text;
        }
      }
    }

    tbody{
      tr{
        border-bottom: 1px solid $table-border;
        td{
          color: $slate-text;
          padding: 15px 0;
        }
      }
    }
  }

  .pagination{
    display: block;
    margin: 0;
    text-align: center;
    word-wrap: break-word;

    span{
      font-size: 14px;
      font-weight: 700;
    }

    a{
      color: lighten($slate-text, 25%);
      display: inline-block;
      padding: 5px;
    }

    a.active{
        color: $slate-text;
        text-decoration: none;
    }
  }
}

.bottom{
  background: url(../images/footer.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  color: $white;
  padding: 150px 0;

  button{
    margin-top: 10px;
  }
}

footer{
  background-color: $slate-text;

  .container {
    display: table;
    padding: 10px;
  }

  .table-row{
    display: table-row;
    width: 100%;

    img{
      display: table-cell;
      margin-top: 2px;
      text-align: left;
      width: 17px;
    }

    ul{
      display: table-cell;
      text-align: center;
      vertical-align: top;
    }

    .social-icons{
      display: table-cell;
      left: -15px;
      position: relative;
      text-align: right;
      width: 45px;
    }
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
  .container{
    margin: 0 auto;
    width: 450px;
  }
  .hero {
    nav {
      .container {
        img {
          padding-top: 0;
        }
        ul {
          padding-top: 8px;
        }
      }
    }
    section{
      padding-bottom: 100px;

      h1{
        margin: 150px 10px;
      }
      .point{
        width: 47%;
      }
    }
  }

  .table {
    padding: 0 0 80px 0;

    .section-head {
      .user-interaction {
        .search {
          width: 342px;
        }
        .refresh {
          margin-left: 50px;
        }
      }
    }
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .container{
    margin: 0 auto;
    width: 738px;
  }

  .hero{
    nav{
      .container{
        display: block;
        padding: 39px 0;

        ul{
          display: inline-block;
          margin: 0;
          padding: 0 0 0 59px;
        }

        img{
          display: inline-block;
          margin: 2px 0 0 0;
        }
      }
    }

    section{
      h1{
        margin: 250px 0 200px;
        width: 650px;
      }
      .point{
        margin-bottom: 100px;
        padding: 0 100px 0 0;
        width: 250px;

        p{
          margin: 21px 0 0;
        }
      }
    }
  }

  .intro{
    padding: 126px 0 172px;

    h2{
      margin: 50px auto 90px;
      width: 415px;
    }

    p{
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2;
      -webkit-column-gap: 30px;
      -moz-column-gap: 30px;
      column-gap: 30px;
      margin: 0;
    }

  }

  .table{
    padding: 0 0 90px 0;

    .section-head{
      margin: 0 15px 75px;

      h3{
        margin: 0;
        width: 300px;
      }

      .user-interaction{
        display: inline-block;
        float: none;
        margin-left: 51px;
        margin-bottom: 0;
        width: 353px;

        .search{
          width: 230px;
        }

        .refresh{
          height: 35px;
          margin-left: 55px;
          width: 67px;
        }
      }
    }

    table{
        margin-bottom: 31px;
      thead{
        tr{
          th{
            padding: 45px 0;
          }
          th:first-child{
            padding-left: 45px;
          }
        }
      }
      tbody{
        tr{
          td:first-child{
            padding-left: 45px;
          }
          td{
            padding: 32px 0;
          }
        }
      }
    }

    .pagination{
      margin: 0 45px;

      a{
        padding: 0 5px 5px;
      }
    }
  }

  .bottom{
    padding: 260px 0;

    h4{
      margin: 0;
    }
    p{
      margin: 34px auto 48px;
      width: 430px;
    }
    button{
      margin-top: 0;
    }
  }

  footer{
    .container {
      padding: 90px 0;
    }
    .table-row{
      img{
        margin-top: 0;
      }
      .social-icons{
        left: 0;
        position: static;
        width: 94px;

        a.icon-facebook{
          margin-right: 50px;
        }
      }
    }
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .container{
    margin: 0 auto;
    width: 932px;
  }

  .hero{
    section{
      .point{
        margin: 0 0 116px 0;
        padding: 0 31px;
        width: 183px;
      }
      .point#first{
        padding-left: 0;
      }
      .point:last-child{
        padding-right: 0;
      }
    }
  }

  .table{
    .section-head{
      h3{
        width: 383px;
      }
      .user-interaction{
        margin-left: 162px;
      }
    }
  }

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  .container{
    width: 1140px;
  }

  .hero{
    section{
      h1{
        margin: 248px 0;
      }
      .point{
        margin-bottom: 116px;
        padding: 0 31px;
        width: 235px;
      }
    }
  }

  .intro, .table{
    .container{
      width: 964px;
    }
  }

  .intro{
    h2{
      margin: 50px auto 110px;
    }
    p{
      -webkit-column-gap: 50px;
      -moz-column-gap: 50px;
      column-gap: 50px;
    }
  }

  .table{
    .section-head{
      h3{
        width: 383px;
      }
      .user-interaction{
        margin-left: 194px;
      }
    }
  }
}
