$red: #f84444;
$border-grey: #71737b;
$grey-text: #949494;
$slate-text: #2c2e37;
$white: #fff;

//Table Colors
$placeholder-text: #7c7e88;
$search-border: #d7d8db;
$table-background: #f8f9fa;
$table-border: #e1e1e1;
$table-header-text: #cbcccd;
